body {
  font-family: Roboto, sans-serif;
  background-color: #fff;
  color: #212121;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  width: auto;
  padding: 0 15px 0;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section {
  padding: 60px 0;
}

@media (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
.icon {
  fill: currentColor;
}

.btn {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.87;
  color: #fff;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  width: 200px;
  height: 50px;
  font-weight: bold;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo__header {
  color: #212121;
}
.logo__footer {
  color: #fff;
}
.logo__span {
  color: #2196f3;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social__link {
  color: #fff;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  color: #fff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link--teammate {
  color: #afb1b8;
}
.social__join-us {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.social--footer {
  width: 206px;
}
.social--teammate {
  padding: 0 32px 0;
  width: 100%;
}

.menu__item .menu__link--current {
  color: #2196f3;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  margin-right: 0;
  width: 254px;
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.menu__link:hover, .menu__link:focus {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link--current::after, .menu__link:hover::after {
  content: "";
  background-color: #2196f3;
  height: 4px;
  width: 100%;
  display: block;
  border-radius: 2px;
  margin-top: 30px;
  margin-bottom: -30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 480px) {
  .menu {
    display: none;
  }
}
.contacts {
  display: flex;
  width: 321px;
  justify-content: space-between;
}
.contacts__link {
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__icon {
  margin-right: 10px;
}
.contacts__icon:hover {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 480px) {
  .contacts {
    display: none;
  }
}
.address__list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  padding: 20px 0 0;
}

.address__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.address__link--location {
  color: #fff;
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: #fff;
  text-transform: uppercase;
}

.newsletter__input {
  width: 358px;
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  padding: 15px;
}
.newsletter__input-container {
  margin-top: 20px;
  display: flex;
}

.newsletter__btn {
  margin-left: 12px;
  padding-left: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.modal__content {
  position: relative;
  width: 528px;
  height: 581px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.modal--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.icon-close__border {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-left: 482px;
  cursor: pointer;
  color: #000;
}
.icon-close__border__border:hover, .icon-close__border__border:focus {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.modal-form__label {
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-form__input {
  border: none;
  resize: none;
  display: block;
  width: 100%;
}
.modal-form__input-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  min-height: 40px;
  padding: 12px 15px;
  margin-bottom: 10px;
}
.modal-form__input-container:focus-within {
  border-color: #2196f3;
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input::-moz-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__input::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__icon {
  margin-right: 15px;
}
.modal-form__chkbox {
  width: 1em;
  height: 1em;
  margin-right: 7px;
  border: 1px solid #212121;
  border-radius: 2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__chkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-form__chkbox-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal-form__chkbox:checked {
  background-image: url(../images/icons/checkbox.svg);
  background-color: #2196f3;
  border-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__chkbox-link {
  color: #2196f3;
}
.modal-form__btn {
  align-self: center;
  margin-top: 30px;
}

.teammate {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  padding-bottom: 30px;
}
.teammate__photo {
  display: block;
}
.teammate__name {
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
}
.teammate__name, .teammate__spec {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
}
.teammate__spec {
  color: #757575;
  margin-bottom: 16px;
}

.filter__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item {
  margin-left: 8px;
}
.filter__item:first-child {
  margin-left: 0;
}

.filter__button {
  background-color: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  padding: 6px 22px;
}
.filter__button:hover, .filter__button:focus {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project {
  flex-basis: calc(100% / 3 - 30px);
}
.project__wrapper {
  position: relative;
  overflow: hidden;
}
.project__photo {
  display: block;
}
.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__info {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 49px 25px;
}
.project__description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project__category {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}
.project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project:hover .project__overlay {
  transform: translateX(0);
}

.icon-menu__button {
  padding: 0;
  border: none;
}

.icon-menu:hover,
.icon-menu:focus {
  color: #2196f3;
}

@media (min-width: 481px) {
  .icon-menu__button {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.mobile-menu--is-hidden {
  visibility: hidden;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__list {
  display: flex;
  align-items: baseline;
}
.footer__item:not(:first-child) {
  padding-left: 70px;
}

.hero {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/background-img.jpg);
  height: 600px;
  max-width: 1600px;
  text-align: center;
  padding-top: 200px;
  margin: auto;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: #fff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.advantages__list {
  padding-top: 60px;
}

.adavantages__item {
  display: block;
  margin: 15px;
}

.advantages__title {
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__title,
.advantages__text {
  font-size: 14px;
  letter-spacing: 0.03em;
}

.advantages__text {
  line-height: 1.7;
  color: #757575;
  width: 100%;
}

.advantages__icon {
  display: block;
}
.advantages__icon-background {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .advantages__list {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding-top: 94px;
  }
}
.activities__list {
  display: flex;
  justify-content: space-between;
}

.activities__item {
  position: relative;
}

.activities__overlay {
  position: absolute;
  width: 100%;
  height: 70px;
  top: 224px;
  left: 0;
  background: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  padding-top: 27px;
}

.activities__text {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
}

@media (max-width: 1199px) {
  .activities {
    display: none;
  }
}
.team {
  background-color: #f5f4fa;
}

.team__list {
  display: flex;
  justify-content: space-between;
}

.clients {
  flex-basis: calc(100% / 2 - 30px);
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon {
  width: 106px;
  height: 60px;
}

@media (min-width: 1200px) {
  .clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.grid__item {
  width: 370px;
  height: 404px;
  margin-left: 30px;
  margin-top: 30px;
}/*# sourceMappingURL=main.css.map */