@import "../sass/utils/variables";

@import "../sass/base/global";
@import "../sass/base/container";
@import "../sass/base/section";
@import "../sass/base/icon";

@import "../sass/components/btn";
@import "../sass/components/logo";
@import "../sass/components/h2";
@import "../sass/components/social-list";
@import "../sass/components/menu";
@import "../sass/components/contacts";
@import "../sass/components/address";
@import "../sass/components/newsletter";
@import "../sass/components/modal";
@import "../sass/components/icon-close";
@import "../sass/components/modal-form";
@import "../sass/components/teammate";
@import "../sass/components/filter";
@import "../sass/components/project";
@import "../sass/components/icon-menu";
@import "../sass/components/mobile-menu";

@import "../sass/layout/header";
@import "../sass/layout/footer";
@import "../sass/layout/hero";
@import "../sass/layout/advantages";
@import "../sass/layout/activities";
@import "../sass/layout/team";
@import "../sass/layout/clients";
@import "../sass/layout/grid";
