.activities__list {
  display: flex;
  justify-content: space-between;
}
.activities__item {
  position: relative;
}
.activities__overlay {
  position: absolute;
  width: 100%;
  height: 70px;
  top: 224px;
  left: 0;
  background: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  padding-top: 27px;
}
.activities__text {
  text-align: center;
  text-transform: uppercase;
  color: $third-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
}

@media (max-width: 1199px){
 .activities {
   display: none;
 }
}
