.clients {
  flex-basis: calc(100% / 2 - 30px);

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;

    &:hover,
    &:focus {
      border-color: $hover-color;
      color: $hover-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__icon {
    width: 106px;
    height: 60px;
  }
}
@media (min-width: 480px){

}
@media (min-width: 768px){

}
@media (min-width: 1200px){
  .clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }  
}