.modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 300ms;
  transition-timing-function: linear;
  padding: 15px;

  &__content {
    position: relative;
    max-width: 528px;
    background: $third-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
  }

  &--is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
