.project {
  margin-top: 30px;

  &__wrapper {
    position: relative;
    overflow: hidden;
  }

  &__photo {
    display: block;
    width: 100%;
    height: auto;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__info {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $third-color;
    padding: 49px 25px;
  }

  &__description {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__category {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: $second-color;
  }

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover &__overlay {
    transform: translateX(0);
  }
}

@media (min-width: 481px){
  .project {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media (min-width: 769px){
  .project {
    flex-basis: calc(100% / 3 - 30px);
  }
}