$main-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;
$main-color: #212121;
$second-color: #757575;
$third-color: #fff;
$fourth-color: rgba(255, 255, 255, 0.6);
$fifth-color: #afb1b8;
$hover-color: #2196f3;
$first-background-color: #2f303a;
$second-background-color: #f5f4fa;


@media (min-width: 480px){

}
@media (min-width: 768px){

}
@media (min-width: 1200px){
  
}